.text-responsive{
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - 100px) / ([maximum viewport width] - [minimum viewport width])));*/
    font-size: calc(100px + (100px - 100px) * ((1vw - 16px) / (100px - 16px))) !important;
}

.imageanimate {
    -webkit-animation: action 15s alternate infinite;
    animation: action 15s alternate infinite;
}

@-webkit-keyframes action {
    0% { transform: translateY(-10%); }
    100% { transform: translateY(-45%); }
}

@keyframes action {
    0% { transform: translateY(-10%); }
    100% { transform: translateY(-45%); }
}
