<footer class="d-flex flex-column flex-xl-row bg-dark text-white fs-4">
    <div class="p-4">
        <strong class="text-sm-start fs-1" style="font-family: {{ footertitlefont }}"> {{ footertitle }} </strong>
        <p class="fs-5"> {{ footercredits }} </p>
    </div>
    <div class="p-4">
        <img src="{{ footerimgsource }}" class="my-auto" style="max-inline-size: 100%">
    </div>
    <div class="p-5 text-center d-none d-xl-block">
        <button onclick="location.href='#'" class="fs-1 display-1 fw-bold p-3 my-auto text-center align-self-center fadegray" style="font-family: {{ footertitlefont }}; font-size: 200%"> Sus </button>
    </div>
</footer>
