<footer class="d-flex flex-column flex-xl-row bg-dark text-white fs-4">
    <div class="p-4">
        <strong class="text-sm-start fs-1" style="font-family: Alex Brush"> Art &nbsp;&nbsp;Traditional </strong>
        <p class="fs-5"> Drepturi de autor © {% now "Y" %}. Toate drepturile rezervate </p>
    </div>
    <div class="p-4">
        <img src="/media/BannerR.png" class="my-auto" style="max-inline-size: 100%">
    </div>
    <div class="p-5 text-center d-none d-xl-block">
        <button onclick="location.href='#'" class="fs-1 p-3 my-auto text-center fadegray"> Sus </button>
    </div>
</footer>
