<nav class="navbar navbar-expand-lg navbar-light sticky-top fs-2"
     style="background: rgba{{ navbarcolor }}; ">
  <h1 class="navbar-brand my-auto px-1 ms-1 me-0" style="font-family: {{ navbartitlefont }}; color: rgba{{ navbartitlecolor }}; display: block; font-size: 200%" onmousedown='return false;'>{{ navbartitle }}</h1>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-1 fs-3 text-center">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}"
               style="color: rgba{{ navbaritemcolor }}"
               onmouseleave="this.style.color='rgba{{ navbaritemcolor }}';"
               onmouseover="this.style.color='rgba{{ navbaritemhovercolor }}';">
                <i class="fa fa-fw fa-home"></i>  Acasă</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: rgba{{ navbaritemcolor }}" href="{% url 'galerie' %}"
            onmouseleave="this.style.color='rgba{{ navbaritemcolor }}';"
            onmouseenter="this.style.color='rgba{{ navbaritemhovercolor }}';"><i class="fas fa-images"></i>  Galerie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: rgba{{ navbaritemcolor }}" href="#"
            onmouseleave="this.style.color='rgba{{ navbaritemcolor }}';"
            onmouseenter="this.style.color='rgba{{ navbaritemhovercolor }}';"><i class="fa fa-fw fa-landmark"></i>  Despre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: rgba{{ navbaritemcolor }}" href="#"
            onmouseleave="this.style.color='rgba{{ navbaritemcolor }}';"
            onmouseenter="this.style.color='rgba{{ navbaritemhovercolor }}';"><i class="fa fa-fw fa-envelope"></i>  Contact</a>
        </li>
        <li class="nav-item {% if not user.is_superuser %}d-none{% endif %}">
          <a class="nav-link" style="color: rgba{{ navbaritemcolor }}" href="#"
          onmouseleave="this.style.color='rgba{{ navbaritemcolor }}';"
          onmouseenter="this.style.color='rgba{{ navbaritemhovercolor }}';">Admin</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-1 fs-3 text-center">
        <li class="nav-item d-block {% if navbarhidelogin %}fs-5{% endif %}">
            <a class="nav-link" aria-current="page" href="{% if not user.is_authenticated %}{% url 'login' %}{% else %}{% url 'logout' %}{% endif %}"  {% if navbarhidelogin %}style="color: rgba(0,0,0,1)"{% endif %}
            {% if not navbarhidelogin %}
            onmouseleave="this.style.color='rgba{{ navbaritemcolor }}';"
            onmouseenter="this.style.color='rgba{{ navbaritemhovercolor }}';"
            {% endif %}>
            {% if not user.is_authenticated %}
                <i class="fas fa-sign-in-alt"></i>  {% if not navbarhidelogin %}Login{% endif %}
            {% else %}
                <i class="fas fa-sign-out-alt"></i>  {% if not navbarhidelogin %}Logout{% endif %}
            {% endif %}
            </a>
        </li>
      </ul>
        <div id="searchbarform ms-1">
      <form class="d-flex" >
        <input class="form-control me-2" type="search" placeholder="Nume, mărime, gen" aria-label="Search" id="searchtext">
        <button class="btn btn-outline-{% if navbarislight %}dark{% else %}light{% endif %}" type="button" onclick="cauta()" id="searchbtn"> Caută</button>
      </form>
        </div>
    </div>
  </div>
</nav>

<script>
    function cauta(){
        let text = document.getElementById("searchtext").value
        window.location = "/search?text="+text
    }
    function navbar_resize(event){
        // increase font size of items at tall screens
        var tags = document.getElementsByClassName("nav-item")
        for(let i=0;i<tags.length;++i){
            if(istall()){
                tags[i].classList.remove("fs-3")
                tags[i].classList.add("display-2")
                tags[i].classList.add("fw-normal")
                tags[i].classList.add("my-2")
            }
            else{
                tags[i].classList.add("fs-3")
                tags[i].classList.remove("display-2")
                tags[i].classList.remove("fw-normal")
                tags[i].classList.remove("my-2")
            }
        }
        let search = document.getElementById("searchtext")
        let searchbtn = document.getElementById("searchbtn")
        if(istall())
        {
            search.classList.add("input-lg")
            searchbtn.classList.add("btn-lg")
        }
        else{
            search.classList.remove("input-lg")
            searchbtn.classList.remove("btn-lg")
        }
    }
    window.addEventListener("resize", navbar_resize)
    navbar_resize(null)
</script>
