<div id="carouseldiv" class="carousel slide carousel-fade" data-bs-ride="carousel" style="display: block; max-height: 500px; overflow-y: hidden">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouseldiv" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    {% for i in range %}
      <button type="button" data-bs-target="#carouseldiv" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i }}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ firstimage }}" class="d-block w-100 slideshowimage" alt="" data-bs-interval="{{ slideshowduration }}" >
{#      <div class="carousel-caption d-none d-md-block mb-1">#}
{#        <h5>First slide label</h5>#}
{#        <p>Some representative placeholder content for the first slide.</p>#}
{#      </div>#}
    </div>
        {% for imgpath in slideshowimages %}
            <div class="carousel-item">
            {% with imgpath as image_static %}
            <img src="{{ imgpath }}" class="d-block w-100 slideshowimage" data-bs-interval="{{ slideshowduration }}" >
            {% endwith %}
{#            <div class="carousel-caption d-none d-md-block mb-1">#}
{#                <h5>First slide label</h5>#}
{#                <p>Some representative placeholder content for the first slide.</p>#}
{#            </div>#}
            </div>
      {% endfor %}
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouseldiv" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Înapoi</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouseldiv" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Înainte</span>
  </button>
</div>

<script>
    function slideshow_resize(event)
    {
        let size = getsize();
        {#document.getElementById("carouseldiv").style.maxHeight = Math.floor(size.height/2);#}
        var elems = document.getElementsByClassName("slideshowimage");
        for(let i=0;i<elems.length; ++i)
        {
            if(size.width >= 1000) elems[i].classList.add("imageanimate");
            else elems[i].classList.remove("imageanimate");
        }
    }
    window.addEventListener("resize", slideshow_resize);
    slideshow_resize(null);
</script>
